.navbar {
    background-color: #ffffff;
    align-items: center;
    padding: 2vh;
    border-radius: 0.5vh;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}

.logo {
    border-radius: 0.5vh;
    height: 5vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2vh;
}

.img-logo {
    margin-top: 3vh;
    width: 20vh;
    height: 17vh;
}

.nav-opcoes {
    display: flex;
    justify-content: space-between;
    gap: 4vh;
    margin-right: 2vh;
    align-items: center;
    font-weight: 00;
}

.nav-input {
  width: 100%;
  border-radius: 3vh;
  height: 6vh;
  border: 1px solid rgb(116, 114, 114);
  font-size: 2vh;
  padding-left: 6vh;
  padding-right: 5vh; 
  outline: none;
  transition: all 0.3s ease;
}

.input-container {
  position: relative;
  width: 60%;
  margin-right: 10vh;
}

.nav-input:focus {
    border-color: #3e3f41;
    box-shadow: 0 0 0.2vh rgba(36, 33, 46, 0.4);
}

.nav-input::placeholder {
    color: #a3a2a2;
}

.login {
    text-decoration: none;
    color: #555555;
    font-size: 2.3vh;
}

.fa-solid {
    font-size: 3vh;
    color: #535353;
}

.icon-login {
    height: 2.6vh;
    width: 2.6vh;
}

.login-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    font-weight: 400;
}

.fa-solid {
    margin-left: 3vh;
}

.fa-cart-shopping {
    margin-right: 7vh;
}

.fa-cart-shopping:hover {
    color: #3a3239;
}

.iconLupa {
  position: absolute;
  left: 3vh;
  top: 50%;
  transform: translateY(-50%);
  width: 2vh;
  height: 2vh;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
}


.iconLupa:hover {
  opacity: 1;
}