.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
  font-family: Arial, sans-serif;
}

.auth-box {
  background: #fff;
  padding: 5vh 4vh;
  border-radius: 1.5vh;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 40vh;
  margin-bottom: 15vh;
  text-align: center;
}

.auth-box h1 {
  color: #4a90e2;
  margin-bottom: 25px;
  font-size: 22px;
}

.auth-box label {
  display: flex;
  text-align: left;
  font-weight: 200;
  margin-bottom: 1vh;
}

.auth-box input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  transition: all 0.2s;
}

.auth-box input:focus {
  border-color: #4a90e2;
  outline: none;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  background: #4a90e2;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.auth-box button:hover {
  background: #357ABD;
}

.auth-footer {
  margin-top: 15px;
  font-size: 14px;
}

.auth-footer p {
  display: inline;
  margin-right: 5px;
  color: #555;
}

.auth-footer a {
  color: #4a90e2;
  text-decoration: none;
  font-weight: bold;
}

.auth-footer a:hover {
  text-decoration: underline;
  color: rgb(28, 112, 196);
}

.sucesso {
  color: green;
  background-color: #e6ffe6; 
  padding: 10px;    
  border-radius: 5px;  
  margin-top: 10px;
  font-weight: bold;      
}

.erro {
  color: rgb(173, 75, 75);          
  background-color: #ffe6e6;  
  padding: 10px;              
  border-radius: 5px;      
  margin-top: 10px;          
}

.registro{
  margin-left: 4px;
}

.p-registro {
  font-size: 2vh;
}

.label-entrar {
  color: #4a90e2;
    text-decoration: none;
    font-weight: bold;
    font-size: 2vh;
    margin-top: 2vh;
    display: inline-block;
}