.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffffff;
    font-family: Arial, sans-serif;
}

.login-box {
    background: #fff;
    padding: 5vh 4vh;
    border-radius: 1.5vh;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 35vh;
    text-align: center;
    margin-bottom: 15vh;
}

.login {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 200;
    color: #333;
}

.login-box input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.2s;
}

.login-box input:focus {
    border-color: #888;
    outline: none;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background: #4a90e2;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
}

.login-box button:hover {
    background: #357ABD;
}

.registre-se {
    background-color: white;
}

.a-registre-se {
    color: #4a90e2;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8vh;
}

.a-registre-se:hover {
  text-decoration: underline;
  color: rgb(28, 112, 196);
}

.p-login {
    font-size: 2vh;
}