.tituloDestaque {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 40px 0 20px 40px;
  color: #111;
}

.produtoPAI {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 25px;
    list-style: none;
    padding: 0;
    font-family: "Roboto", sans-serif;
    align-items: center;
    margin: 3vh 16vh 0 16vh;
}

.produtoCARD {
    flex: 1 1 22vh;
    max-width: 34vh;
  background-color: #f9f9f9;
  flex: 1 1 calc(20% - 3vh); 
  transition: all 0.2s ease;
  cursor: pointer;
}
.produtoCARD:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.produtoIMG {
  width: 100%;
  height: 25vh;
}

.produtoText {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  margin-top: 1vh;
}

.ProdutoPreco {
  font-size: 1rem;
  color: #818f71;
  font-weight: bold;
}

.produtoText,
.ProdutoPreco {
  text-align: start;
  width: 100%;
}

li {
    width: 30vh;
}
.error-page {
  margin-left: 16vh;
  margin-top: 5vh;
  color: #a72d2d;
}