.div-pai {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
    gap: 5vh;
    font-family: "Roboto", sans-serif;
    margin: 5vh 15vh 2vh 15vh;
}

.imgHomem {
    border-radius: 1vh;
    width: 50vh;
    height: 45vh;
    margin-right: 5vh;
}

h1 {
    font-size: 7vh;
    font-weight: 400;
}

p {
    margin-left: 0.7vh;
    font-size: 3vh;
    font-weight: 300;
}

h2 {
    font-family: "Roboto", sans-serif;
    margin-left: 16.1vh;
    margin-top: 3vh;
}

.button-compre {
    background-color: white;
    border-color: rgb(228, 225, 225);
    border-radius: 0.8vh;
    width: 22vh;
    height: 6vh;
    cursor: pointer;
    margin-left: 0.7vh;
}

.button-compre:hover {
  background-color: #fafafc;      
}