.tabela-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

.btn-novo {
  padding: 1.2vh 2.5vh;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
}



.btn-editar {
  background-color: #ffc107;
  color: #000;
  border: none;
  padding: 0.7vh 1.3vh;
  margin-right: 0.5vh;
  border-radius: 0.4vh;
  cursor: pointer;
}

.btn-excluir {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.7vh 1.3vh;
  margin-right: 0.5vh;
  border-radius: 0.4vh;
  cursor: pointer;
}

.btn-ver {
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 0.7vh 1.3vh;
  border-radius: 0.4vh;
  cursor: pointer;
}