.tabela-container {
  width: 90%;
  margin: 3vh auto;
  padding: 2vh;
  background-color: #fff;
  border-radius: 0.8vh;
  box-shadow: 0vh 0.2vh 0.8vh rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
}

.tabela-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

.btn-novo {
  padding: 1.2vh 2.5vh;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
}

.tabela-pedidos {
  width: 100%;
  border-collapse: collapse;
}

.tabela-pedidos th,
.tabela-pedidos td {
  padding: 1.5vh 1.8vh;
  border: 0.21vh solid #ddd;
  text-align: center;
}

.tabela-pedidos th {
  background-color: #f5f5f5;
}

.btn-editar {
  background-color: #ffc107;
  color: #000;
  border: none;
  padding: 0.7vh 1.3vh;
  margin-right: 0.5vh;
  border-radius: 0.4vh;
  cursor: pointer;
}

.btn-excluir {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.7vh 1.3vh;
  margin-right: 0.5vh;
  border-radius: 0.4vh;
  cursor: pointer;
}

.btn-ver {
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 0.7vh 1.3vh;
  border-radius: 0.4vh;
  cursor: pointer;
}