* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.div-pai-de-todos {
    padding: 4vh 12vh 2vh 12vh;
    background-color: #F7F7F7;
    height: 100vh;
}

